Django>=4.2,<5.0
# General
psycopg2-binary
daphne
channels
channels-redis
gunicorn
uvicorn
# SAML
python3-saml
# Security
defusedxml
bleach
html5lib
# Other
django-appconf
django-compressor
lxml
mimesis
PyYAML
raven
rcssmin
rjsmin
xmlsec
# Huey
huey
redis
# Testing
pytest
pytest-django
pytest-cov
pytest-asyncio
PyHamcrest
coverage
# Linter
flake8
autopep8
isort
